* {
  //border: solid 1px black;

}

html {
  font-size: 10px;
  font-family: 'Orbitron', sans-serif;
  color: #4CAF50;
}

#wrapper {
  display: grid;
  //grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  //grid-auto-rows: 100px;
  grid-template-areas:
    "a a a c"
    "b b b c"
    "b b b c"
    "b b b c";
  justify-content: center;
}


#gameBoard {
  grid-area: b;
  position: relative;
  text-align: center;
  width: 560px;
}

#side {
  grid-area: c;
  position: relative;
  margin-top: 100px;
  width: 200px;
  height: 450px;
}

#side div {
  margin: 25px 5px;
  width: 95%;
  height: 80px;
}

#scores {
  margin: 20px;
  text-align: left;
  font-size: 30px;
}

#scores span {
  display: inline-block;
  position: absolute;
  text-align: right;
  right: 0px;
  width: 40%;
  margin-right: 30px;
  color: red;
}

#boardSize {
  color: #4CAF50;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
}


#boardSize select {
  color: #4CAF50;
  font-size: 22px;
  font-family: 'Orbitron', sans-serif;
  width: 25%;
  margin-top: 20px;
  padding: 5px;
  border: 0 !important;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* SVG background image */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 15px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  background-color: #efefef;
}


#header {
  grid-area: a;
  color: #4CAF50;
  font-size: 70px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  /* Render lines between boxes*/
  grid-gap: 1.5rem;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  //text-align:left;
}

.square {
  background-color: white;
  display: grid;
  /*
  align-items: center;
  justify-content: center;
  */
  place-items: center center;
}

.circle {
  border: solid 1.5rem red;
  background-color: white;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/*<div class = "cross">&#10060;</div> */
.cross {
  border-radius: 0.5rem;
  /*margin top makes it look better*/
  margin-top: 1.3rem;
  text-align: center;
  font-size: 10rem;
  color: red;
  font-family: monospace;
}

#container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  /* Render lines between boxes*/
  margin-left: auto;
  margin-right: auto;
  //text-align:left;
}

.announcement {
  position: absolute;
  margin-top: 200px;
  width: 500px;
  z-index: 9;
  font-weight: bold;
  //color: rgba(227, 168, 105);
  color: #4CAF50;
  font-size: 120px;
}

button {
  font-family: 'Orbitron', sans-serif;
  color: white;
  background-color: #4CAF50;
}

button#reset {
  padding: 10px 20px;
  font-size: 24px;
  margin: 30px;
}

#clearScore{
  text-align: center;
}

button#clear {
  padding: 10px 10px;
  font-size: 16px;
  margin: 10px;
}

#xOrO {
  font-size: 40px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
